.footer {
  padding: 75px 0 20px;
  @media (max-width: $bp-m) {
    padding: 20px 10px 20px;
  }
  // .footer__inner

  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 70px;
    @media (max-width: $bp-l) {
      justify-content: space-evenly;
    }
    @media (max-width: $bp-m) {
      flex-direction: column;
      justify-content: center;
      margin-bottom: 0;
    }
  }

  // .footer__column

  &__column {
    @media (max-width: $bp-m) {
      margin-bottom: 30px;
    }
  }

  &__column-social {
    max-width: 470px;
    @media (max-width: $bp-l) {
      max-width: 33%;
    }
    @media (max-width: $bp-m) {
      max-width: 100%;
      width: 100%;
    }
  }

  // .footer__logo

  &__logo {
    display: inline-block;
    margin-bottom: 42px;
    @media (max-width: $bp-m) {
      margin-bottom: 20px;
    }
  }

  // .footer__logo-img

  &__logo-img {}

  // .footer__text

  &__text {
    @extend %roboto;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px / 15px * 100%;
    color: #999999;
    margin-bottom: 48px;
    @media (max-width: $bp-m) {
      margin-bottom: 20px;
    }
    @media (max-width: $bp-s) {
      font-size: 12px;
    }
  }

  // .footer__followers-count

  &__followers-count {
    @extend %mont;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    padding-bottom: 18px;
    border-bottom: 1px solid #e5e5e5;

    span {
      font-weight: 700;
      font-size: 18px;
    }
  }

  // .footer__social

  &__social {
    margin-top: 18px;
    display: flex;
    margin-bottom: 36px;
  }

  // .footer__social-title

  &__social-title {
    @extend %roboto;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    color: #999999;
  }

  // .footer__social-inner

  &__social-inner {
    display: flex;
    align-items: center;
    margin-left: 46px;
  }

  // .footer__social-link

  &__social-link {
    display: inline-block;
  }

  &__social-link+&__social-link {
    margin-left: 14px;
  }

  // .footer__form

  &__form {
    @media (max-width: $bp-s) {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  // .footer__form-input
  &__form-input {
    padding: 14px 12px;
  }

  &__form-btn {
    padding: 14px 33px;
    margin-left: -3px;
    @media (max-width: $bp-s) {
      margin-left: 0;
    }
  }

  &__form-input::placeholder {
    color: #cccccc;
  }

  &__form-input {
    @extend %btn-null;
    @extend %roboto;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    color: #999999;
    border: 1px solid #e7e7e7;

    &:focus {
      border: 1px solid $color-main;
    }

  }

  &__form-btn {
    @extend %btn-null;
    @extend %mont;
    font-weight: 700;
    font-size: 14px;
    border: 2px solid $color-main;
    text-transform: uppercase;
    color: #ffffff;
    background-color: $color-main;
    cursor: pointer;

    &:focus {
      background-color: $color-accent;
      border: 2px solid $color-accent;
    }
  }

  // .footer__column


  // .footer__column-blog

  &__column-blog {
    max-width: 340px;
    @media (max-width: $bp-l) {
      max-width: 33%;
    }
    @media (max-width: $bp-m) {
      width: 100%;
      max-width: 100%;
    }
  }

  // .footer__blog-title

  &__blog-title {
    @extend %mont;
    font-weight: 400;
    color: #333333;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 40px;
    @media (max-width: $bp-m) {
      margin-bottom: 20px;
    }
  }

  // .footer__blog-inner

  &__blog-inner {}

  // .footer__blog-item

  &__blog-item {
    display: flex;
    align-items: center;
  }

  &__blog-item+&__blog-item {
    margin-top: 30px;
  }

  // .footer__blog-item-img-box

  &__blog-item-img-box {
    max-width: 120px;
    overflow: hidden;
    margin-right: 20px;
  }

  // .footer__blog-item-img

  &__blog-item-img {
    width: inherit;
  }

  // .footer__blog-item-content

  &__blog-item-content a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  // .footer__blog-item-title

  &__blog-item-title h2 {
    @extend %mont;
    font-weight: 400;
    font-size: 12px;
    color: #333333;
  }

  &__blog-item-title {
    display: inline-block;
    margin-bottom: 13px;
  }

  // .footer__blog-item-date

  &__blog-item-date {
    @extend %roboto;
    font-weight: 300;
    font-style: italic;
    color: #999999;
    font-size: 13px;
  }

  // .footer__column-instagram

  &__column-instagram {
    max-width: 270px;
    @media (max-width: $bp-m) {
      max-width: 100%;
      width: 100%;
    }

  }
  &__column-instagram-title{
    @extend %mont;
    font-weight: 400;
    color: #333333;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 40px;
    @media (max-width: $bp-m) {
      margin-bottom: 20px;
    }
  }

  &__column-instagram-inner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0;
    @media (max-width: $bp-l) {
      grid-template-columns: repeat(2,1fr);
    }
    @media (max-width: $bp-m) {
      grid-template-columns: repeat(4,1fr);
    }
  }

  // .footer__column-instagram-link

  &__column-instagram-link {
    display: inline-block;
    width: 90px;
    height: 90px;
    @media (max-width: $bp-m) {
      width: 100%;
      height: 100%;
    }
    img{
      @media (max-width: $bp-m) {
        max-width: 100%;
        width: 100%;
      }
    }
  }

  // .footer__column-instagram-img

  &__column-instagram-img {}


		// .footer__bottom-line

		&__bottom-line {
      padding-top: 25px;
      border-top: 1px solid #e5e5e5;
      text-align: center;
		}
.copy {
  @extend %mont;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  a{
    color: $color-accent;
    text-decoration: none;
  }
}


}