.blog-preview {
  padding: 110px 0;
  // .blog-preview__title-inner
  @media (max-width: $bp-m) {
    padding: 55px 0;
  }

  &__title-inner {
    margin-bottom: 90px;
  }

  // .blog-preview__inner

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: $bp-l) {
      justify-content: space-around;
    }
  }

  // .blog-preview__item

  &__item {
    max-width: 30%;
    @media (max-width: $bp-m) {
      max-width: 100%;
      margin-bottom: 30px;
    }
    @media (max-width: $bp-s) {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
  }

  // .blog-preview__item-img-box

  &__item-img-box {
    max-width: 380px;
    position: relative;
    margin-bottom: 20px;
    @media (max-width: $bp-m) {
      float: left;
      margin-right: 20px;
      margin-bottom: 20px;
      width: 50%;
    }
    @media (max-width: $bp-s) {
      margin-right: 0;
      padding: 0 10px;
      width: 100%;
    }
  }

  // .blog-preview__item-img

  &__item-img {
    max-width: 100%;
  }

  // .blog-preview__item-date-box

  &__item-date-box {
    max-width: 60px;
    position: absolute;
    bottom: 10px;
    left: -10px;
    padding: 15px;
    background-color: $color-main;
    @media (max-width: $bp-m) {
      text-align: center;
      padding: 8px;
      bottom: 0;
      left: 0;
    }
    @media (max-width: $bp-s) {
      left: 10px;
    }
  }

  // .blog-preview__item-date

  &__item-date {
    @extend %mont;
    font-weight: 700;
    font-size: 30px;
    line-height: 20px;
    max-width: 35px;
    color: #fff;
    span{
      @extend %roboto;
      font-weight: 300;
      font-style: italic;
      font-size: 15px;
    }
    @media (max-width: $bp-m) {
      font-size: 14px;
      span{
        font-size: 12px;
      }
    }
  }

  // .blog-preview__item-content

  &__item-content {
    padding-bottom: 24px;
    border-bottom: 1px solid #e5e5e5;
    a{
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
    @media (max-width: $bp-m) {
      border-bottom: none;
      padding-bottom: 0;
    }
    @media (max-width: $bp-s) {
      padding: 0 10px;
    }
  }

  // .blog-preview__item-title

  &__item-title h3{
    @extend %mont;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  // .blog-preview__item-text

  &__item-text p{
    @extend %roboto;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px / 15px * 100%;
    color: #999999;

    margin: 0 10px 0 0;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    @media (max-width: $bp-m) {
      -webkit-line-clamp: 4;
    }
  }

  // .blog-preview__item-bottom

  &__item-bottom {
    margin-top: 24px;
    display: flex;
  }

  // .blog-preview__item-views

  &__item-views {

  }

  // .blog-preview__item-views-icon

  &__item-views-icon{}

  // .blog-preview__item-views-count

  &__item-views-count {
  }

  // .blog-preview__item-comments
  &__item-comments{
    margin-left: 16px;
  }

  &__item-comments,
  &__item-views {
    display: flex;
    @extend %roboto;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    color: #999999;
  }

  // .blog-preview__item-viecommentsws-icon

  &__item-viecommentsws-icon {
  }

  // .blog-preview__item-comments-count

  &__item-comments-count,
  &__item-views-count {
    display: inline-block;
    margin-left: 6px;
  }

  &__link{
    display: flex;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border: 1px solid $color-main;
    @extend %mont;
    font-weight: 400;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    border-radius: 5px;
    color: $color-main;
    text-transform: uppercase;
    @media (max-width: $bp-m) {
      padding: 15px;
      font-size: 14px;
      margin-top: 20px;
    }
  }
}

