.header-intro {
  text-align: center;
  min-height: 100vh;
  @media (max-width: $bp-m) {
    min-height: auto;
  }
  // .header-intro__item

  &__item {}

  // .header-intro__pretitle

  &__pretitle {
    font-size: 72px;
    color: #fff;
    @extend %kaus;
    margin: 0 auto 50px;
    position: relative;
    z-index: 20;
    @media (max-width: $bp-l) {
      font-size: 42px;
    }
  }

  // .header-intro__title

  &__title {
    @extend %mont;
    text-transform: uppercase;
    margin: 0 auto;
    font-weight: 700;
    max-width: 835px;
    font-size: 150px;
    color: #fff;
    line-height: 150px / 140px * 100%;
    padding-bottom: 65px;
    margin-bottom: 48px;
    position: relative;
    z-index: 20;
    @media (max-width: $bp-l) {
      font-size: 90px;
    }
    @media (max-width: $bp-m) {
      font-size: 30px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 60px;
      height: 3px;
      background-color: #fff;
    }
  }

  // .header-intro__link

  &__link {
    padding: 10px 23px;
    border: 3px solid #fff;
    @extend %mont;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    z-index: 20;
    position: relative;
    &:hover{
      border-color: $color-accent;
      color: $color-accent;
    }
  }

  .swiperHeader {
    width: 100%;
    height: 100%;

    .swiper-slide {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 18px;
      background: #fff;
      padding-top: 150px;
      padding-bottom: 230px;
      position: relative;
      @media (max-width: $bp-l) {
        padding-bottom: 130px;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(0deg, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
        z-index: 10;
        opacity: 0.9;
      }

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper-pagination-bullet {
      width: 25%;
      height: auto;
      border-radius: 0;
      background: transparent;
      text-align: left;
      line-height: 20px;

      opacity: 1;
      position: relative;
      @extend %mont;
      font-weight: 700;
      font-size: 24px;
      color: #ffffff;
      @media (max-width: $bp-m) {
        font-size: 16px;
      }
      @media (max-width: $bp-s) {
        font-size: 12px;
      }

      &::before {
        content: '';
        background-color: #ffffff;
        width: 100%;
        height: 3px;
        position: absolute;
        top: -24px;
      }
    }
    .swiper-pagination-bullet-active{
      &::before {
        content: '';
        background: linear-gradient(90deg, rgba(243,129,129,1) 0%, rgba(243,129,129,1) 25%, rgba(255,255,255,1) 25%);
        width: 100%;
        height: 3px;
        position: absolute;
        top: -24px;
      }
    }

    .swiper-pagination__bullet-wrapper:nth-child(1)::after {
      content: 'Intro';
      margin-left: 8px;
    }

    .swiper-pagination__bullet-wrapper:nth-child(2)::after {
      content: 'Work';
      margin-left: 8px;
    }

    .swiper-pagination__bullet-wrapper:nth-child(3)::after {
      content: 'About';
      margin-left: 8px;
    }

    .swiper-pagination__bullet-wrapper:nth-child(4)::after {
      content: 'Contacts';
      margin-left: 8px;
    }

    .swiper-pagination-bullet-active {}

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: 25px;
      display: flex;
      justify-content: space-between;
      width: 81.25vw;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      margin: 0 auto;
      left: 0;
      right: 0;
    }

    .swiper-slide-bg{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .swiper-slide img{
      object-fit: fill;
    }
  }
}