.services {
  padding: 105px 0 110px;
  @media (max-width: $bp-m) {
    padding: 55px 0 60px;
  }
  // .services__title-inner

  &__title-inner {
    margin-bottom: 100px;
    @media (max-width: $bp-m) {
      margin-bottom: 50px;
    }
  }

  // .services__inner

  &__inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) );
    grid-gap: 0;
  }

  // .services__item

  &__item {
    border-bottom: 1px solid #e5e5e5;
    padding: 50px 0;
    display: flex;
    align-items: flex-start;
    
    &:nth-last-child(1),
    &:nth-last-child(2),
    &:nth-last-child(3) {
      border-bottom: none;
    }
    @media (max-width: $bp-m) {
      justify-content: center;
    }
    @media (max-width: $bp-s) {
      padding: 20px 0;
    }
  }

  // .services__item-img

  &__item-img {
    margin-right: 25px;
    object-fit: contain;
  }

  // .services__item-box

  &__item-box {}

  // .services__item-title

  &__item-title {
    @extend %mont;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    margin-bottom: 20px;
    max-width: 285px;
    text-transform: uppercase;

  }

  // .services__item-text

  &__item-text {
    @extend %roboto;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px / 15px * 100%;
    color: #999999;
    max-width: 285px;
  }
}

.container {}

.title {

  // .title__inner

  &__inner {}
}

.pretitle {}