<section class="blog-preview container">
  <div class="title__inner blog-preview__title-inner">
    <span class="pretitle">Our stories</span>
    <h2 class="title">Latest blog</h2>
  </div>
  <div class="blog-preview__inner">
    <article class="blog-preview__item">
      <div class="blog-preview__item-img-box">
        <a href="#">
          <img class="blog-preview__item-img" src="images/blog/preview/1.jpg" alt="blog preview photo">
        </a>
        <div class="blog-preview__item-date-box">
          <div class="blog-preview__item-date">
            15 <span>Jan</span>
          </div>
        </div>
      </div>
      <div class="blog-preview__item-content">

        <div class="blog-preview__item-title">
          <a href="#">
            <h3>
              Lorem ipsum dolor sit amet
            </h3>
          </a>
        </div>
        <div class="blog-preview__item-text">
          <a href="#">
            <p>
              Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing
              elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit, sed
              do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </a>
        </div>
        </a>
      </div>
      <div class="blog-preview__item-bottom">
        <div class="blog-preview__item-views">
          <img class="blog-preview__item-views-icon" src="images/icons/blog/eye.svg" alt="count views icon">
          <span class="blog-preview__item-views-count">542</span>
        </div>
        <div class="blog-preview__item-comments">
          <img class="blog-preview__item-viecommentsws-icon" src="images/icons/blog/comment.svg"
            alt="count comment icon">
          <span class="blog-preview__item-comments-count">17</span>
        </div>
      </div>

    </article>
    <article class="blog-preview__item">
      <div class="blog-preview__item-img-box">
        <a href="#">
          <img class="blog-preview__item-img" src="images/blog/preview/1.jpg" alt="blog preview photo">
        </a>
        <div class="blog-preview__item-date-box">
          <div class="blog-preview__item-date">
            15 <span>Jan</span>
          </div>
        </div>
      </div>
      <div class="blog-preview__item-content">

        <div class="blog-preview__item-title">
          <a href="#">
            <h3>
              Lorem ipsum dolor sit amet
            </h3>
          </a>
        </div>
        <div class="blog-preview__item-text">
          <a href="#">
            <p>
              Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing
              elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit, sed
              do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </a>
        </div>
        </a>
      </div>
      <div class="blog-preview__item-bottom">
        <div class="blog-preview__item-views">
          <img class="blog-preview__item-views-icon" src="images/icons/blog/eye.svg" alt="count views icon">
          <span class="blog-preview__item-views-count">542</span>
        </div>
        <div class="blog-preview__item-comments">
          <img class="blog-preview__item-viecommentsws-icon" src="images/icons/blog/comment.svg"
            alt="count comment icon">
          <span class="blog-preview__item-comments-count">17</span>
        </div>
      </div>

    </article>
    <article class="blog-preview__item">
      <div class="blog-preview__item-img-box">
        <a href="#">
          <img class="blog-preview__item-img" src="images/blog/preview/1.jpg" alt="blog preview photo">
        </a>
        <div class="blog-preview__item-date-box">
          <div class="blog-preview__item-date">
            15 <span>Jan</span>
          </div>
        </div>
      </div>
      <div class="blog-preview__item-content">

        <div class="blog-preview__item-title">
          <a href="#">
            <h3>
              Lorem ipsum dolor sit amet
            </h3>
          </a>
        </div>
        <div class="blog-preview__item-text">
          <a href="#">
            <p>
              Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing
              elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit, sed
              do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </a>
        </div>
        </a>
      </div>
      <div class="blog-preview__item-bottom">
        <div class="blog-preview__item-views">
          <img class="blog-preview__item-views-icon" src="images/icons/blog/eye.svg" alt="count views icon">
          <span class="blog-preview__item-views-count">542</span>
        </div>
        <div class="blog-preview__item-comments">
          <img class="blog-preview__item-viecommentsws-icon" src="images/icons/blog/comment.svg"
            alt="count comment icon">
          <span class="blog-preview__item-comments-count">17</span>
        </div>
      </div>

    </article>

  </div>
  <a class="blog-preview__link" href="#">See More</a>
</section>