<section style="background-image: url('images//feedback/bg.jpg');" class="feedback">
  <div class="feedback--bg-mask"></div>
  <div class="feedback__wrapper container">
    <div class="title__inner feedback__title-inner">
      <span class="pretitle">Happy Clients</span>
      <h2 class="title">What people say</h2>
    </div>
    <div class="feedback__inner">
      <div class="feedback__item">
        <div class="feedback__item-avatar-box">
          <img class="feedback__item-avatar" src="images/feedback/avatar/1.jpg" alt="feedback avatar">
        </div>
        <div class="feedback__item-content">
          <h3 class="feedback__item-title">
            Matthew Dix
          </h3>
          <span class="feedback__item-subtitle">
            Graphic Design
          </span>
          <p class="feedback__item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
          </p>
        </div>
      </div>
      <div class="feedback__item">
        <div class="feedback__item-avatar-box">
          <img class="feedback__item-avatar" src="images/feedback/avatar/2.jpg" alt="feedback avatar">
        </div>
        <div class="feedback__item-content">
          <h3 class="feedback__item-title">
            Nick Karvounis
          </h3>
          <span class="feedback__item-subtitle">
            Graphic Design
          </span>
          <p class="feedback__item-text">
            Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
          </p>
        </div>
      </div>
      <div class="feedback__item">
        <div class="feedback__item-avatar-box">
          <img class="feedback__item-avatar" src="images/feedback/avatar/3.jpg" alt="feedback avatar">
        </div>
        <div class="feedback__item-content">
          <h3 class="feedback__item-title">
            Jaelynn Castillo 
          </h3>
          <span class="feedback__item-subtitle">
            Graphic Design
          </span>
          <p class="feedback__item-text">
            Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
          </p>
        </div>
      </div>
      <div class="feedback__item">
        <div class="feedback__item-avatar-box">
          <img class="feedback__item-avatar" src="images/feedback/avatar/4.jpg" alt="feedback avatar">
        </div>
        <div class="feedback__item-content">
          <h3 class="feedback__item-title">
            Mike Petrucci
          </h3>
          <span class="feedback__item-subtitle">
            Graphic Design
          </span>
          <p class="feedback__item-text">
            Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>