<section class="gallery">
  <div class="title__inner gallery__title-inner">
    <span class="pretitle">What we do</span>
    <h2 class="title">some of our work</h2>
  </div>
  <p class="gallery__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>

  <div class="grid-container">
    <div class="column">
      <div class="grid-item">
        <img src='images/gallery/1.jpg'>
        <div class="grid-hover">
          <img class="grid-hover__img" src="images/gallery/author/default.png" alt="author avatar">
          <h3 class="grid-hover__title">
            creatively designed
          </h3>
          <p class="grid-hover__text">
            Lorem ipsum dolor sit
          </p>
        </div>
      </div>
      <div class="grid-item">
        <img src="images/gallery/5.jpg">
        <div class="grid-hover">
          <img class="grid-hover__img" src="images/gallery/author/default.png" alt="author avatar">
          <h3 class="grid-hover__title">
            creatively designed
          </h3>
          <p class="grid-hover__text">
            Lorem ipsum dolor sit
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="grid-item">
        <img src="images/gallery/2.jpg">
        <div class="grid-hover">
          <img class="grid-hover__img" src="images/gallery/author/default.png" alt="author avatar">
          <h3 class="grid-hover__title">
            creatively designed
          </h3>
          <p class="grid-hover__text">
            Lorem ipsum dolor sit
          </p>
        </div>
      </div>
      <div class="grid-item">
        <img src="images/gallery/6.jpg">
        <div class="grid-hover">
          <img class="grid-hover__img" src="images/gallery/author/default.png" alt="author avatar">
          <h3 class="grid-hover__title">
            creatively designed
          </h3>
          <p class="grid-hover__text">
            Lorem ipsum dolor sit
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="grid-item">
        <img src="images/gallery/3.jpg">
        <div class="grid-hover">
          <img class="grid-hover__img" src="images/gallery/author/default.png" alt="author avatar">
          <h3 class="grid-hover__title">
            creatively designed
          </h3>
          <p class="grid-hover__text">
            Lorem ipsum dolor sit
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="grid-item">
        <img src="images/gallery/4.jpg">
                <div class="grid-hover">
          <img class="grid-hover__img" src="images/gallery/author/default.png" alt="author avatar">
          <h3 class="grid-hover__title">
            creatively designed
          </h3>
          <p class="grid-hover__text">
            Lorem ipsum dolor sit
          </p>
        </div>
      </div>
      <div class="grid-item">
        <img src="images/gallery/7.jpg">
                <div class="grid-hover">
          <img class="grid-hover__img" src="images/gallery/author/default.png" alt="author avatar">
          <h3 class="grid-hover__title">
            creatively designed
          </h3>
          <p class="grid-hover__text">
            Lorem ipsum dolor sit
          </p>
        </div>
      </div>
    </div>

  </div>
</section>