<header class="header">
  <div class="header__content container">
    <div class="header__logo">
      <a href="#">
        <img class="header__logo-img" src="images/logo.png" alt="">
      </a>
    </div>
    <div class='header__menu menu'>
      <div class="icon-menu__wrapper" id="menuBtn">
        <div class='menu__icon icon-menu'>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <nav class='menu__body' id="menu__body">
        <div class="menu__mask" id="menu__mask"></div>
        <div class="menu__inner" id="menu__inner">
          <ul class='menu__list' id="menu__list">
          <li class='menu__item'>
            <a class='menu__link' href=''>About</a>
          </li>
          <li class='menu__item'>
            <a class='menu__link' href=''>service</a>
          </li>
          <li class='menu__item'>
            <a class='menu__link' href=''>work</a>
          </li>
          <li class='menu__item'>
            <a class='menu__link' href=''>blog</a>
          </li>
          <li class='menu__item'>
            <a class='menu__link' href=''>contact</a>
          </li>
        </ul>
        <div class="menu__close" id="menu__close">
          <span></span>
          <span></span>
        </div>
      </nav>
    </div>
    <div class="header__sidebar">
      <button class="header__sidebar-cart">
        <img src="images/icons/cart.png" alt="">
      </button>
      <button class="header__sidebar-search">
        <img src="images/icons/search.png" alt="">
      </button>
    </div>
  </div>
</header>