<section class="header-intro">
  <div class="swiper swiperHeader">
    <div class="swiper-wrapper">
      <div class="swiper-slide header-intro__item" >
        <img class="swiper-slide-bg" src="images/header/bg.jpg" alt="">
        <span class="header-intro__pretitle">
          Creative Template
        </span>
        <h1 class="header-intro__title">
          Welcome
          to MoGo
        </h1>
        <a class="header-intro__link" href="#">Learn more</a>
      </div>
      <div class="swiper-slide header-intro__item">
        <img class="swiper-slide-bg" src="images/header/bg.jpg" alt="">
        <span class="header-intro__pretitle">
          Creative Template
        </span>
        <h1 class="header-intro__title">
          Welcome
          to MoGo
        </h1>
        <a class="header-intro__link" href="#">Learn more</a>
      </div>
      <div class="swiper-slide header-intro__item">
        <img class="swiper-slide-bg" src="images/header/bg.jpg" alt="">
        <span class="header-intro__pretitle">
          Creative Template
        </span>
        <h1 class="header-intro__title">
          Welcome
          to MoGo
        </h1>
        <a class="header-intro__link" href="#">Learn more</a>
      </div>
      <div class="swiper-slide header-intro__item">
        <img class="swiper-slide-bg" src="images/header/bg.jpg" alt="">
        <span class="header-intro__pretitle">
          Creative Template
        </span>
        <h1 class="header-intro__title">
          Welcome
          to MoGo
        </h1>
        <a class="header-intro__link" href="#">Learn more</a>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>