<section class="processes container">
  <div class="title__inner processes__title-inner">
    <span class="pretitle">Service</span>
    <h2 class="title">what we do</h2>
  </div>
  <p class="processes__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
  </p>
  <div class="processes__inner">
    <div class="processes__img-box">
      <img src="images/processes/box-bg.jpg" alt="">
    </div>
    <div class="processes__row">
      <div class="processes__col">
        <div class="processes__tabs">
          <div class="processes__tab">
            <input type="radio" id="rd1" name="rd">
            <label class="processes__tab-label" for="rd1"><img src="images/icons/processes/1.png" alt="processes icon"> <span>Photography</span>
              <div class="processes__tab-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="12" viewBox="0 0 21 12">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: #ccc;
                        fill-rule: evenodd;
                      }
                    </style>
                  </defs>
                  <path id="ARROW_DOWN" data-name="ARROW / DOWN" class="cls-1" d="M1521.14,4194.52l7.86,7.86,7.96-7.96h0a1.5,1.5,0,0,1,2.12,2.12h0l-9,9h0a1.511,1.511,0,0,1-1.08.46h-0.01a1.528,1.528,0,0,1-1.08-.46h0l-9-9h0.01A1.5,1.5,0,1,1,1521.14,4194.52Z" transform="translate(-1518.5 -4194)"/>
                </svg>
              </div>
            </label>
            <div class="processes__tab-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>

          </div>
          <div class="processes__tab">
            <input type="radio" id="rd2" name="rd">
            <label class="processes__tab-label" for="rd2"><img src="images/icons/processes/2.png" alt="processes icon"> <span>creativity</span>
              <div class="processes__tab-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="12" viewBox="0 0 21 12">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: #ccc;
                        fill-rule: evenodd;
                      }
                    </style>
                  </defs>
                  <path id="ARROW_DOWN" data-name="ARROW / DOWN" class="cls-1" d="M1521.14,4194.52l7.86,7.86,7.96-7.96h0a1.5,1.5,0,0,1,2.12,2.12h0l-9,9h0a1.511,1.511,0,0,1-1.08.46h-0.01a1.528,1.528,0,0,1-1.08-.46h0l-9-9h0.01A1.5,1.5,0,1,1,1521.14,4194.52Z" transform="translate(-1518.5 -4194)"/>
                </svg>
              </div>
            </label>
            <div class="processes__tab-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>
          <div class="processes__tab">
            <input type="radio" id="rd3" name="rd">
            <label class="processes__tab-label" for="rd3"><img src="images/icons/processes/3.png" alt="processes icon"> <span>web design</span>
              <div class="processes__tab-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="12" viewBox="0 0 21 12">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: #ccc;
                        fill-rule: evenodd;
                      }
                    </style>
                  </defs>
                  <path id="ARROW_DOWN" data-name="ARROW / DOWN" class="cls-1" d="M1521.14,4194.52l7.86,7.86,7.96-7.96h0a1.5,1.5,0,0,1,2.12,2.12h0l-9,9h0a1.511,1.511,0,0,1-1.08.46h-0.01a1.528,1.528,0,0,1-1.08-.46h0l-9-9h0.01A1.5,1.5,0,1,1,1521.14,4194.52Z" transform="translate(-1518.5 -4194)"/>
                </svg>
              </div>
            </label>
            <div class="processes__tab-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>