<section class="services container">
  <div class="title__inner services__title-inner">
    <span class="pretitle">We work with</span>
    <h2 class="title">Amazing Services</h2>
  </div>
  <div class="services__inner">
    <div class="services__item">
      <img class="services__item-img" src="images/icons/services/1.png" alt="services icon">
      <div class="services__item-box">
        <h3 class="services__item-title">
          Photography
        </h3>
        <p class="services__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </p>
      </div>
    </div>
    <div class="services__item">
      <img class="services__item-img" src="images/icons/services/2.png" alt="services icon">
      <div class="services__item-box">
        <h3 class="services__item-title">
          Web Design
        </h3>
        <p class="services__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </p>
      </div>
    </div>
    <div class="services__item">
      <img class="services__item-img" src="images/icons/services/3.png" alt="services icon">
      <div class="services__item-box">
        <h3 class="services__item-title">
          Creativity
        </h3>
        <p class="services__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </p>
      </div>
    </div>
    <div class="services__item">
      <img class="services__item-img" src="images/icons/services/4.png" alt="services icon">
      <div class="services__item-box">
        <h3 class="services__item-title">
          seo
        </h3>
        <p class="services__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </p>
      </div>
    </div>
    <div class="services__item">
      <img class="services__item-img" src="images/icons/services/5.png" alt="services icon">
      <div class="services__item-box">
        <h3 class="services__item-title">
          Css/Html
        </h3>
        <p class="services__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </p>
      </div>
    </div>
    <div class="services__item">
      <img class="services__item-img" src="images/icons/services/6.png" alt="services icon">
      <div class="services__item-box">
        <h3 class="services__item-title">
          digital
        </h3>
        <p class="services__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </p>
      </div>
    </div>
  </div>
</section>