<section class="stats">
  <div class="stats__wrapper container">
    <div class="stats__item">
      <span id="odometer1" class="stats__count odometer"></span>
      <span class="stats__text">Web Design Projects</span>
    </div>
    <div class="stats__item">
      <span id="odometer2" class="stats__count odometer"></span>
      <span class="stats__text">happy client</span>
    </div>
    <div class="stats__item">
      <span id="odometer3" class="stats__count odometer"></span>
      <span class="stats__text">award winner</span>
    </div>
    <div class="stats__item">
      <span id="odometer4" class="stats__count odometer"></span>
      <span class="stats__text">cup of coffee</span>
    </div>
    <div class="stats__item">
      <span id="odometer5" class="stats__count odometer"></span>
      <span class="stats__text">members</span>
    </div>
  </div>
</section>